@model EntityFrameworkFolha.FoPagAux.Entidades.Funcionario
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Upload de Documentos </h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>

                        <div class="widget-body">
                            @using (Html.BeginForm("UploadDocumentos", "Funcionarios", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-upload", novalidate = "novalidate" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.FuncionarioID);
                                @Html.ValidationSummary(true)

                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul class="list-unstyled" style="padding-left: 20px;">
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-arrow-circle-o-right"></i>&nbsp;&nbsp; Nome: <span class="txt-color-darken">@Html.DisplayFor(model => model.Nome)</span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-arrow-circle-o-right"></i>&nbsp;&nbsp; CPF: <span class="txt-color-darken">@Html.DisplayFor(model => model.CPF)</span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-arrow-circle-o-right"></i>&nbsp;&nbsp; Nome Arquivo: <span class="txt-color-darken">
                                                            <input type="text" name="nomeDocumento" id="nomeDocumento" />
                                                        </span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <input type="file" name="file" id="file" />
                                                </li>
                                            </ul>
                                            <footer>
                                                <section class="col col-9">
                                                    <button type="submit" class="btn btn-primary">
                                                        Salvar
                                                    </button>
                                                </section>
                                            </footer>
                                        </div>
                                    </div>
                                </fieldset>
                            }

                            <fieldset>
                                <div class="row">
                                    <h3 style="padding-left: 5px;">Documentos Atuais</h3>
                                    <div class="col-sm-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nome Imagem</th>
                                                    <th>Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var image in (IEnumerable<string>)ViewBag.Images)
                                                {
                                                    <tr>
                                                        <td>
                                                            <ul class="list-unstyled" style="padding-left: 20px;">
                                                                <li>
                                                                    <p class="text-muted">
                                                                        <i class="fa fa-arrow-circle-o-right"></i>
                                                                        <a href="@Url.Content(image)" target="_blank">@image.Split('/')[3]</a>
                                                                    </p>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            @using (Html.BeginForm("DeleteDocumentos", "Funcionarios", FormMethod.Post, new { novalidate = "novalidate" }))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                @Html.HiddenFor(model => model.FuncionarioID);
                                                                <input type="hidden" value="@image.Split('/')[3]" id="imagem" name="imagem" />
                                                                <button type="submit" class="btn btn-xs btn-danger">
                                                                    DELETAR
                                                                </button>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<!-- END MAIN CONTENT -->

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {
            var $orderForm = $("#form-upload").validate({
                // Rules for form validation
                rules: {
                    nomeDocumento: {
                        required: true
                    },
                    file: {
                        required: true,
                    }
                },

                // Messages for form validation
                messages: {
                    nomeDocumento: {
                        required: 'Preencha o campo Nome do documento.'
                    },
                    file: {
                        required: 'Escolha um arquivo.',
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        })
    </script>
}