@model EntityFrameworkFolha.FoPagAux.Entidades.Funcionario
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Cadastros
                <span>
                    >
                    Funcionários
                </span>
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-9">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                        <h2>Dados do Funcionário</h2>
                    </header>
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>

                        <div class="widget-body no-padding">

                            @using (Html.BeginForm("Edit", "Funcionarios", FormMethod.Post, new { id = "form", @class = "smart-form", novalidate = "novalidate" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#iss1" data-toggle="tab">Dados do Funcionário</a>
                                    </li>
                                    <li>
                                        <a href="#iss2" data-toggle="tab">Informações Financeiras</a>
                                    </li>
                                    <li>
                                        <a href="#iss3" data-toggle="tab">Outros</a>
                                    </li>
                                    <li>
                                        <a href="#iss4" data-toggle="tab">Arquivos</a>
                                    </li>
                                </ul>
                                <div class="tab-content padding-10">
                                    <div class="tab-pane active" id="iss1">
                                        <fieldset>
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.FuncionarioID)
                                            @Html.HiddenFor(model => model.Foto)
                                            @Html.HiddenFor(model => model.DataCriacao)
                                            @Html.HiddenFor(model => model.UsuarioCriacao)
                                            @Html.HiddenFor(model => model.DataAlteracao)
                                            @Html.HiddenFor(model => model.UsuarioAlteracao)
                                            <div class="row" style="border-style:ridge;">
                                                <section class="col col-1 right" style="min-width: 130px;">
                                                    @{
                                                        var caminhoImg = "/Content/img/avatars/male.png";
                                                        if (Model != null && !String.IsNullOrEmpty(Model.Foto))
                                                        {
                                                            caminhoImg = Model.Foto;
                                                        }
                                                    }
                                                    <img src="@Url.Content(caminhoImg)" width="112" style="padding-right: 3px;" />
                                                </section>
                                                <section class="col col-9">
                                                    <div class="row">
                                                        <div class="row">
                                                            <section class="col col-6">
                                                                <label class="label">
                                                                    Número de Identificação Interna
                                                                </label>
                                                                <label class="input">
                                                                    <i class="icon-prepend fa fa-edit"></i>
                                                                    @Html.EditorFor(model => model.Matricula, new { htmlAttributes = new { @type = "text", @name = "Matricula", @placeholder = "", @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Matricula, "", new { @class = "text-danger" })
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-6">
                                                                <label class="label">
                                                                    Nome do Funcionário
                                                                </label>
                                                                <label class="input">
                                                                    <i class="icon-prepend fa fa-edit"></i>
                                                                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @type = "text", @name = "Nome", @placeholder = "", @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label class="label">
                                                                    Empresa
                                                                </label>
                                                                <label class="select">
                                                                    @Html.DropDownListFor(model => model.EmpresaID, (SelectList)ViewBag.Empresa, "Selecione...")
                                                                    <i></i>
                                                                </label>
                                                                @Html.ValidationMessageFor(model => model.EmpresaID, "", new { @class = "text-danger" })
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">
                                                                    Função
                                                                </label>
                                                                <label class="select">
                                                                    @Html.DropDownListFor(model => model.CargoID, (SelectList)ViewBag.Cargo, "Selecione...")
                                                                    <i></i>
                                                                </label>
                                                                @Html.ValidationMessageFor(model => model.CargoID, "", new { @class = "text-danger" })
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-3">
                                                                <label class="label">
                                                                    Início
                                                                </label>
                                                                <label class="input">
                                                                    <i class="icon-prepend fa fa-edit"></i>
                                                                    @Html.EditorFor(model => model.Inicio, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                                    @Html.ValidationMessageFor(model => model.Inicio, "", new { @class = "text-danger" })
                                                                </label>
                                                            </section>
                                                            <section class="col col-3">
                                                                <label class="label">
                                                                    Admissão
                                                                </label>
                                                                <label class="input">
                                                                    <i class="icon-prepend fa fa-edit"></i>
                                                                    @Html.EditorFor(model => model.Admissao, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                                    @Html.ValidationMessageFor(model => model.Admissao, "", new { @class = "text-danger" })
                                                                </label>
                                                            </section>
                                                            <section class="col col-3">
                                                                <label class="label">
                                                                    Demissão
                                                                </label>
                                                                <label class="input">
                                                                    <i class="icon-prepend fa fa-edit"></i>
                                                                    @Html.EditorFor(model => model.Demissao, new { htmlAttributes = new { @class = "form-control text-danger", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                                    @Html.ValidationMessageFor(model => model.Demissao, "", new { @class = "text-danger" })
                                                                </label>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="row" style="border-style:ridge; margin-top: 5px;">
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Nome do Funcionário
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @type = "text", @name = "Nome", @placeholder = "", @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Data Nascimento
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Sexo
                                                    </label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(model => model.Sexo, (SelectList)ViewBag.SexoList, "Selecione...")
                                                        <i></i>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        Grau de Instrução
                                                    </label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(model => model.GrauInstrucaoID, (SelectList)ViewBag.GrauInstrucao, "Selecione...")
                                                        <i></i>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.GrauInstrucaoID, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Naturalidade
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Naturalidade, new { htmlAttributes = new { @type = "text", @name = "Naturalidade", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Naturalidade, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Nacionalidade
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Nacionalidade, new { htmlAttributes = new { @type = "text", @name = "Naturalidade", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Nacionalidade, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Raça/Cor
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Nacionalidade, new { htmlAttributes = new { @type = "text", @name = "Naturalidade", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Nacionalidade, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">
                                                        Nome da Mãe
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.NomeMae, new { htmlAttributes = new { @type = "text", @name = "NomeMae", @placeholder = "", @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.NomeMae, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">
                                                        Nome do Pai
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.NomePai, new { htmlAttributes = new { @type = "text", @name = "NomePai", @placeholder = "", @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.NomePai, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        Estado Civil
                                                    </label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(model => model.EstadoCivil, (SelectList)ViewBag.EstadoCivilList)
                                                        <i></i>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.EstadoCivil, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">
                                                        Nome do Cônjuge
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.NomeConjuge, new { htmlAttributes = new { @type = "text", @name = "NomeConjuge", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.NomeConjuge, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        Idade do Cônjuge
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.IdadeConjuge, new { htmlAttributes = new { @type = "text", @name = "NomeConjuge", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.NomeConjuge, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-1">
                                                    <label class="label">
                                                        Filhos
                                                    </label>
                                                    <label class="toggle" style="text-align: right;">
                                                        @Html.CheckBoxFor(model => model.TemFilhos, new { htmlAttributes = new { @type = "checkbox", @id = "TemFilhos", @name = "TemFilhos", @class = "form-control" } })
                                                        <i data-swchon-text="SIM" data-swchoff-text="NÃO"></i>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.NomeConjuge, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        Quantos Filhos
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.QtdFilhos, new { htmlAttributes = new { @type = "text", @name = "QtdFilhos", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.QtdFilhos, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-5">
                                                    <label class="label">
                                                        Idades
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.IdadesFilhos, new { htmlAttributes = new { @type = "text", @name = "IdadesFilhos", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.IdadesFilhos, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-8">
                                                    <label class="label">
                                                        <b>Endereço</b>
                                                    </label>
                                                    <label class="input">
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">
                                                        Rua/AV
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.NomeRua, new { htmlAttributes = new { @type = "text", @name = "NomeRua", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.NomeRua, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        Número
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @type = "text", @name = "Numero", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        Complemento
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @type = "text", @name = "Complemento", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        Bairro
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @type = "text", @name = "Bairro", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        Cidade
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @type = "text", @name = "Cidade", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        Estado
                                                    </label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(model => model.Estados, (SelectList)ViewBag.UfList, "Selecione...")
                                                        <i></i>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Estados, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        CEP
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @type = "text", @name = "CEP", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Contato 1
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Contato1, new { htmlAttributes = new { @type = "text", @name = "Contato1", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Contato1, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Contato 2
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Contato2, new { htmlAttributes = new { @type = "text", @name = "Contato2", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Contato2, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Contato 3
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Contato3, new { htmlAttributes = new { @type = "text", @name = "Contato3", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Contato3, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Recado
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Recado1, new { htmlAttributes = new { @type = "text", @name = "Recado1", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Recado1, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Recado
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Recado2, new { htmlAttributes = new { @type = "text", @name = "Recado2", @placeholder = "", @class = "form-control" } })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Recado2, "", new { @class = "text-danger" })
                                                </section>
                                            </div>
                                            <div class="row" style="border-style:ridge; margin-top: 5px;">
                                                <section class="col col-10">
                                                    <label class="label">
                                                        <b>Documentos</b>
                                                    </label>
                                                    <label class="input">
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        RG
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.RG, new { htmlAttributes = new { @type = "text", @name = "RG", @placeholder = "", @class = "form-control" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.RG, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Data EXpedição
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.DataEmissaoRG, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.DataEmissaoRG, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Orgão Expedidor
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.OrgaoExpedidorRG, new { htmlAttributes = new { @type = "text", @name = "OrgaoExpedidorRG", @placeholder = "", @class = "form-control" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.OrgaoExpedidorRG, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        CPF
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @type = "text", @name = "CPF", @placeholder = "", @class = "form-control" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        PIS
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.PIS, new { htmlAttributes = new { @type = "text", @name = "PIS", @placeholder = "", @class = "form-control" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.PIS, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        Habilitação
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.CNH, new { htmlAttributes = new { @type = "text", @name = "CNH", @placeholder = "", @class = "form-control" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.CNH, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Categoria
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.CategoriaCNH, new { htmlAttributes = new { @type = "text", @name = "CategoriaCNH", @placeholder = "", @class = "form-control" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.CategoriaCNH, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        CTPS
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.CTPS, new { htmlAttributes = new { @type = "text", @name = "CTPS", @placeholder = "", @class = "form-control" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.CTPS, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Data Expedição
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.DataExpedicaoCTPS, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.DataExpedicaoCTPS, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Título de Eleitor
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.TituloEleitor, new { htmlAttributes = new { @type = "text", @name = "TituloEleitor", @placeholder = "", @class = "form-control" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.TituloEleitor, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Zona
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.ZonaTituloEleitor, new { htmlAttributes = new { @type = "text", @name = "ZonaTituloEleitor", @placeholder = "", @class = "form-control" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.ZonaTituloEleitor, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Seção
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.SecaoTituloEleitor, new { htmlAttributes = new { @type = "text", @name = "SecaoTituloEleitor", @placeholder = "", @class = "form-control" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.SecaoTituloEleitor, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Doc. Militar
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.ZonaTituloEleitor, new { htmlAttributes = new { @type = "text", @name = "ZonaTituloEleitor", @placeholder = "", @class = "form-control" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.ZonaTituloEleitor, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Nº Doc. Militar
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.SecaoTituloEleitor, new { htmlAttributes = new { @type = "text", @name = "SecaoTituloEleitor", @placeholder = "", @class = "form-control" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.SecaoTituloEleitor, "", new { @class = "text-danger" })
                                                </section>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="tab-pane fade" id="iss2">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Inicio
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Inicio, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.Inicio, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Inicio
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.Inicio, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.Inicio, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Data Exame Admissional
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.DataExameAdmissional, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.DataExameAdmissional, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Inicio da Escala
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.EscalaHorario, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.EscalaHorario, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-3">
                                                    <label class="label">
                                                        Posto de trabalho
                                                    </label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(model => model.PostoTrabalhoID, (SelectList)ViewBag.PostoTrabalho)
                                                        <i></i>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.PostoTrabalhoID, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        Lider do Posto
                                                    </label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(model => model.LiderID, (SelectList)ViewBag.Lider, "Selecione se necessário")
                                                        <i></i>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.LiderID, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Escala
                                                    </label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(model => model.EscalaID, (SelectList)ViewBag.Escala, "Selecione se necessário")
                                                        <i></i>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.EscalaID, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Turno
                                                    </label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(model => model.TurnoID, (SelectList)ViewBag.Turno, "Selecione se necessário")
                                                        <i></i>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.TurnoID, "", new { @class = "text-danger" })
                                                </section>
                                            </div>
                                            <table class="table col-10">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.DiaDaSemana)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.HorarioEntrada)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.HorarioSaida)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Descanso)
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label class="label">
                                                                Segunda
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HorarioEntrada)
                                                                @Html.ValidationMessageFor(model => model.HorarioEntrada)
                                                            </label>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HorarioSaida)
                                                                @Html.ValidationMessageFor(model => model.HorarioSaida)
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.Descanso)
                                                                @Html.ValidationMessageFor(model => model.Descanso)
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="label">
                                                                Terca
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HorarioEntrada)
                                                                @Html.ValidationMessageFor(model => model.HorarioEntrada)
                                                            </label>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HorarioSaida)
                                                                @Html.ValidationMessageFor(model => model.HorarioSaida)
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.Descanso)
                                                                @Html.ValidationMessageFor(model => model.Descanso)
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="label">
                                                                Quarta
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HorarioEntrada)
                                                                @Html.ValidationMessageFor(model => model.HorarioEntrada)
                                                            </label>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HorarioSaida)
                                                                @Html.ValidationMessageFor(model => model.HorarioSaida)
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.Descanso)
                                                                @Html.ValidationMessageFor(model => model.Descanso)
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="label">
                                                                Quinta
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HorarioEntrada)
                                                                @Html.ValidationMessageFor(model => model.HorarioEntrada)
                                                            </label>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HorarioSaida)
                                                                @Html.ValidationMessageFor(model => model.HorarioSaida)
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.Descanso)
                                                                @Html.ValidationMessageFor(model => model.Descanso)
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="label">
                                                                Sexta
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HorarioEntrada)
                                                                @Html.ValidationMessageFor(model => model.HorarioEntrada)
                                                            </label>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HorarioSaida)
                                                                @Html.ValidationMessageFor(model => model.HorarioSaida)
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.Descanso)
                                                                @Html.ValidationMessageFor(model => model.Descanso)
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="label">
                                                                Sabado
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HorarioEntrada)
                                                                @Html.ValidationMessageFor(model => model.HorarioEntrada)
                                                            </label>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HorarioSaida)
                                                                @Html.ValidationMessageFor(model => model.HorarioSaida)
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.Descanso)
                                                                @Html.ValidationMessageFor(model => model.Descanso)
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="label">
                                                                Domingo
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HorarioEntrada)
                                                                @Html.ValidationMessageFor(model => model.HorarioEntrada)
                                                            </label>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.HorarioSaida)
                                                                @Html.ValidationMessageFor(model => model.HorarioSaida)
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="input">
                                                                @Html.EditorFor(model => model.Descanso)
                                                                @Html.ValidationMessageFor(model => model.Descanso)
                                                            </label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="row" style="margin-top: 15px;">
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Total de Horas Trabalhada
                                                    </label>
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.TotalHorasTrabalhada)
                                                        @Html.ValidationMessageFor(model => model.TotalHorasTrabalhada)
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-3">
                                                    <label class="label">
                                                        Função
                                                    </label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(model => model.Cargo.Funcao, (SelectList)ViewBag.Cargo, "Selecione se necessário")
                                                        <i></i>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Cargo.Funcao, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">
                                                        Piso Salarial
                                                    </label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(model => model.Salario.PisoSalarial, (SelectList)ViewBag.Salario, "Selecione se necessário")
                                                        <i></i>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Salario.PisoSalarial, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Liderança
                                                    </label>
                                                    <label class="checkbox">
                                                        @Html.CheckBoxFor(model => model.Lideranca)
                                                        <i></i>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Lideranca, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-2">
                                                    <label class="label">
                                                        Vale Transporte
                                                    </label>
                                                    <label class="checkbox">
                                                        @Html.CheckBoxFor(model => model.OpcaoValeTransporte)
                                                        <i></i>
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.OpcaoValeTransporte, "", new { @class = "text-danger" })
                                                </section>
                                            </div>
                                            <div class="bg-success" style="margin-bottom: 10px;">
                                                Previsão Financeira
                                            </div>
                                            <div class="row">
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Provisao de Vale
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.ProvisaoDeVale, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.ProvisaoDeVale, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Provisao de pagamento
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-edit"></i>
                                                        @Html.EditorFor(model => model.ProvisaoDePagto, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.ProvisaoDePagto, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Valor Desconto VT
                                                    </label>
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.ValorDesconto, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.ValorDesconto, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Adicional Lider
                                                    </label>
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.AdicionalLider, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.AdicionalLider, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Valor Hora Extra + DSR
                                                    </label>
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.ValorHrExtraeDSR, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.ValorHrExtraeDSR, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Valor Adicinal Norturno
                                                    </label>
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.ValorAdicNortuno, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.ValorAdicNortuno, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Valor Vale Alimentacao
                                                    </label>
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.ValorValeAlimen, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.ValorValeAlimen, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Valor Vale Transporte
                                                    </label>
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.ValorValeTrans, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.ValorValeTrans, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label">
                                                        Valor Vale Refeicao
                                                    </label>
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.ValorValeRefeic, new { htmlAttributes = new { @class = "form-control", @data_mask = "00/00/0000", @data_mask_selectionfocus = "true" } })
                                                        @Html.ValidationMessageFor(model => model.ValorValeRefeic, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="tab-pane fade" id="iss3">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="label">
                                                        Email
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-mail-forward"></i>
                                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @type = "text", @name = "Email", @placeholder = "", @class = "form-control" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">
                                                        Rede Social
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-facebook"></i>
                                                        @Html.EditorFor(model => model.RedeSocial, new { htmlAttributes = new { @type = "text", @name = "RedeSocial", @placeholder = "", @class = "form-control" } })

                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.RedeSocial, "", new { @class = "text-danger" })
                                                </section>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div id="iss4" class="tab-pane fade">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-4">
                                                    @foreach (var image in (IEnumerable<string>)ViewBag.Images)
                                                    {
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <ul class="list-unstyled" style="padding-left: 20px;">
                                                                    <li>
                                                                        <p class="text-muted" style="margin-top: 10px; background-color: aliceblue;">
                                                                            <i class="fa fa-arrow-circle-o-right"></i>
                                                                            @if (image.Contains("jpg") || image.Contains("png") || image.Contains("jpeg"))
                                                                            {
                                                                                <a href="@Url.Content(image)" target="_blank" style="padding: 10px;">
                                                                                    @image.Split('/')[3]
                                                                                    <img src="@Url.Content(image)" style="max-width: 900px;" />
                                                                                </a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="@Url.Content(image)" target="_blank" style="padding: 10px;">@image.Split('/')[3]</a>
                                                                            }
                                                                        </p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    }
                                                </section>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <footer>
                                        <button type="submit" class="btn btn-primary" onclick="window.print()">
                                            Imprimir
                                        </button>
                                        <button type="submit" class="btn btn-primary">
                                            Salvar
                                        </button>
                                    </footer>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>

@section pagespecific {
    <script type="text/javascript">

        $(document).ready(function () {

            document.querySelectorAll('input[list]').forEach(function (x, y, z) {
                x.addEventListener('input', function (e) {
                    var input = e.target,
                        list = input.getAttribute('list'),
                        options = document.querySelectorAll('#' + list + ' option'),
                        hiddenInput = document.getElementById(input.id + 'ID'),
                        inputValue = input.value;
                    hiddenInput.value = "";

                    for (var i = 0; i < options.length; i++) {
                        var option = options[i];

                        if (option.innerText === inputValue) {
                            hiddenInput.value = option.getAttribute('data-value');
                        }
                    }
                });
            });

            $('#Inicio').datepicker({
                format: 'd/m/Y H:i',
                lang: 'pt-BR',
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: '>>',
                prevText: '<<',
                mask: '99/99/9999 99:99',
                onClose: function () {
                    try {
                        $(this).valid();
                    }
                    catch (e) {
                    }
                }
            });

            $('#Admissao').datepicker({
                format: 'd/m/Y H:i',
                lang: 'pt-BR',
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: '>>',
                prevText: '<<',
                mask: '99/99/9999 99:99',
                onClose: function () {
                    try {
                        $(this).valid();
                    }
                    catch (e) {
                    }
                }
            });

            $('#Demissao').datepicker({
                format: 'd/m/Y H:i',
                lang: 'pt-BR',
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: '>>',
                prevText: '<<',
                mask: '99/99/9999 99:99',
                onClose: function () {
                    try {
                        $(this).valid();
                    }
                    catch (e) {
                    }
                }
            });

            $('#DataNascimento').datepicker({
                format: 'd/m/Y H:i',
                lang: 'pt-BR',
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: '>>',
                prevText: '<<',
                mask: '99/99/9999 99:99',
                onClose: function () {
                    try {
                        $(this).valid();
                    }
                    catch (e) {
                    }
                }
            });

            $('#DataExameAdmissional').datepicker({
                format: 'd/m/Y H:i',
                lang: 'pt-BR',
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: '>>',
                prevText: '<<',
                mask: '99/99/9999 99:99',
                onClose: function () {
                    try {
                        $(this).valid();
                    }
                    catch (e) {
                    }
                }
            });

            $('#DataEmissaoRG').datepicker({
                format: 'd/m/Y H:i',
                lang: 'pt-BR',
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: '>>',
                prevText: '<<',
                mask: '99/99/9999 99:99',
                onClose: function () {
                    try {
                        $(this).valid();
                    }
                    catch (e) {
                    }
                }
            });

            $('#DataExpedicaoCTPS').datepicker({
                format: 'd/m/Y H:i',
                lang: 'pt-BR',
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: '>>',
                prevText: '<<',
                mask: '99/99/9999 99:99',
                onClose: function () {
                    try {
                        $(this).valid();
                    }
                    catch (e) {
                    }
                }
            });

        })
    </script>
}